<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--#lbs 配置-->
  <Port>7010</Port>
  <TimeOut>120000</TimeOut>
  <Servers>
 
  </Servers>
	<appSettings>
		<add key="DingTalkNotifyToken" value="SECf4b43282506d6a7a4e31f926ec501639b5439321c69c4c7c4ce575ce997f467f"/>
	</appSettings>
</configuration>