<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--#lbs 配置-->
  <Port>7010</Port>
  <TimeOut>120000</TimeOut>
  <Servers>
 
  </Servers>
	<appSettings>
		<add key="DingTalkNotifyToken" value="aada3cab9b8cd3cf7b8b8f6e0e73d897d40a10bc90cd1863f370a9f85872e5ad"/>
		<add key="DingTalkNotifyKeyWord" value="注册中心"/>
	</appSettings>
</configuration>